---
import getGithubProfile from "../functions/getGithubProfile";
import Layout from "../layouts/Layout.astro";

const profile = await getGithubProfile();
---

<Layout title="raeperd.github.io">
  <div
    itemscope
    itemtype="https://schema.org/Person"
    class="flex justify-center align-middle flex-wrap gap-x-6 gap-y-6 m-8"
  >
    <img src={profile.image} itemprop="image" class="rounded-full w-52" />
    <div class="flex flex-col justify-center align-middle gap-y-3">
      <h1 itemprop="name" class="font-bold text-4xl">{profile.name}</h1>
      <p>{profile.bio}</p>
    </div>
  </div>
</Layout>
