---
export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<nav class="flex my-4">
  {
    tags.map((tag) => (
      <a class="rounded-lg text-white bg-green-800 p-1.5 mr-4 hover:bg-green-900 hover:text-white">
        {tag}
      </a>
    ))
  }
</nav>
