---
import TagButtonContainer from "src/components/TagButtonContainer.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article
    itemscope
    itemtype="https://schema.org/BlogPosting"
    class="text-xl px-8 mx-8"
  >
    <header class="my-8">
      <div class="flex opacity-50 gap-2">
        <time itemprop="datePublished"
          >{new Date(frontmatter.date).toDateString()}
        </time>
        <div itemprop="author">raeperd</div>
      </div>
      <h1 class="leading-normal">{frontmatter.title}</h1>
      <TagButtonContainer tags={frontmatter.tags} />
    </header>
    <slot />
  </article>
  <style is:global>
    article {
      --blue: hsl(215, 88%, 56%);
      --pink: hsl(337, 100%, 75%);
      --yellow: hsl(37, 71%, 65%);
      --red: hsl(0, 79%, 58%);

      --h1-color: white;
      --h2-color: var(--blue);
      --h3-color: var(--blue);
      --h4-color: var(--yellow);
      --h5-color: var(--red);
      --h6-color: var(--red);

      --strong-color: var(--pink);
      --em-color: var(--pink);
      --code-color: hsl(345, 69%, 46%);

      --a-color: hsl(218, 55%, 60%);
      --a-hover-color: hsla(218, 55%, 60%, 0.7);

      --default-font-size: 1rem;
      --title-font-size: calc(var(--default-font-size) + 1.5rem);
      --h1-font-size: calc(var(--default-font-size) + 1rem);
      --h2-font-size: calc(var(--default-font-size) + 0.5rem);
      --h3-font-size: calc(var(--default-font-size) + 0.5rem);
      --h4-font-color: var(--h3-font-size);
      --h5-font-color: var(--h3-font-size);
      --h6-font-color: var(--h3-font-size);

      --h1-weight: 700;
      --h2-weight: 700;
      --h3-weight: 600;
      --h4-weight: 500;
      --h5-weight: 500;
      --h6-weight: 400;

      font-size: var(--default-font-size);
      font-weight: inherit;
    }

    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
      margin-block: var(--default-font-size);
    }

    article header h1 {
      margin-top: 0;
      font-size: var(--title-font-size) !important;
    }

    article h1 {
      font-size: var(--h1-font-size) !important;
      color: var(--h1-color);
      font-weight: var(--h1-weight) !important;
      margin-top: calc(3 * var(--default-font-size));
    }

    article h2 {
      margin-top: calc(2 * var(--default-font-size));
      font-size: var(--h2-font-size) !important;
      color: var(--h2-color);
      font-weight: var(--h2-weight) !important;
    }

    article h3 {
      font-size: var(--h3-font-size) !important;
      color: var(--h3-color);
      font-weight: var(--h3-weight) !important;
    }

    article h4 {
      font-size: var(--h4-font-color) !important;
      color: var(--h4-color);
      font-weight: var(--h4-weight) !important;
    }

    article h5 {
      font-size: var(--h5-font-color) !important;
      color: var(--h5-color);
      font-weight: var(--h5-weight) !important;
    }

    article h6 {
      font-size: var(--h6-font-color) !important;
      color: var(--h6-color);
      font-weight: var(--h6-weight) !important;
    }

    article strong {
      color: var(--pink);
    }

    article em {
      font-style: italic;
      color: var(--em-color);
    }

    article img {
      margin-inline: auto;
    }

    article a {
      color: var(--a-color);
    }

    article a:hover {
      color: var(--a-hover-color);
    }

    article del {
      text-decoration: none;
      background: linear-gradient(
          to right,
          var(--font-color) 100%,
          transparent 0
        )
        0 50% / 1px 1px repeat-x;
    }

    article ul,
    article ol {
      list-style: none;
      padding-left: 2.5rem;
    }

    article li::before {
      content: "•";
      color: var(--blue);
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    article li {
      margin-top: 0.6rem;
    }

    article li p {
      margin-bottom: 0;
    }

    article dl {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    article dt {
      width: 25%;
      font-weight: 500;
    }

    article dd {
      width: 75%;
      padding-left: 1.3rem;
      margin-left: 0;
    }

    article dt ~ dt,
    article dd ~ dd {
      margin-top: 1.3rem;
    }

    article table {
      margin-bottom: 4rem;
    }

    article table th,
    article table td {
      min-width: 10rem;
      padding: 1.5rem 1rem;
      line-height: 1.5;
      border-bottom: 1px solid var(--fog);
    }

    article table th {
      text-align: left;
    }

    article pre {
      font-size: calc(var(--default-font-size) - 0.5rem);
    }

    article pre code {
      background: transparent;
    }

    article ul pre {
      margin-left: calc(var(--gap) * -2);
    }

    /* table */

    article td pre,
    article td {
      margin-bottom: 0;
      padding-right: 0 !important;
    }

    article td:first-of-type {
      width: 5rem;
    }

    /* inline */
    article .highlight span {
      background: transparent !important;
    }

    article :where(h1, h2, h3, h4, h5, h6):hover span.icon.icon-link {
      display: inline;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 0.8em;
      height: 2rem;
      width: 2rem;
      padding-left: 2.5rem;
      padding-right: 1.3rem;
      cursor: pointer;
    }

    article code {
      font-family: Menlo, Monaco, "Courier New", Courier, monospace;
      font-size: calc(0.9 * var(--default-font-size));
      color: var(--code-color);
      background: var(--fog);
    }

    article blockquote {
      padding: 0 0 0 calc(var(--gap) - 0.4rem);
      margin: 0 0 0 calc(var(--gap) * -1);
      border-left: 0.4rem solid var(--font-color);
    }

    article hr {
      height: 1px;
      background: var(--fog);
      border: 0;
      margin-block: 12rem;
    }

    article iframe {
      width: 100%;
      background: var(--font-color);
    }
  </style>
</Layout>
